*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@font-face {
    font-family: inter;
    src: url(./Inter-Regular.otf);
}

:root{
    --rounded-sm:4px;
    --rounded-md:7px;
    --muted:hsla(0, 0%, 90%, 0.694);
    --fs-sm:1.1rem;
    --primary-color:hsl(231, 30%, 9%);
    --shadow-sm:hsla(0, 0%, 89%, 0.66);
}
body{
    font-family: inter;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: azure;
}

.form-container{
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    background: hsl(0, 0%, 100%);
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 6px var(--shadow-sm);
    border-radius: var(--rounded-md);
    padding-bottom: 15px;
}
.form-container .form-logo{
    width: 100px;
    height: auto;
}
.form-container .form-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-container .form-input{
    width: 100%;
    height: 42px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    border: 1.6px solid var(--muted);
    border-radius: var(--rounded-sm);
    margin-top: 10px;
    position: relative;
}
.form-container .form-input input{
    outline: none;
    border: none;
    width: 90%;
    height: 100%;
    padding: 0px 10px;
    color: rgba(0, 0, 0, 0.63);
}
.form-container .form-input .form-icon{
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--muted);
    font-size: var(--fs-sm);
}
.form-container button{
    width: 100%;
    height: 42px;
    padding: 10px 0px;
    border: none;
    color: white;
    background: var(--primary-color);
    border-radius: var(--rounded-sm);
    margin-top: 30px;
    cursor: pointer;
}

.form-container .form-input span{
    position: absolute;
    bottom: -20px;
    left: 0px;
    font-size: 0.7rem;
    color: rgba(255, 0, 51, 0.824);
}
.sayHello{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 600;
}
